<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongye.p2p.mapper.RealauthMapper">
	<resultMap id="BaseResultMap" type="Realauth" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="realName" property="realName"/>
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="birthDate" property="bornDate" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="image1" property="image1" jdbcType="VARCHAR" />
    <result column="image2" property="image2" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP" />
  </resultMap>
    <resultMap id="FullResultMap" type="RealAuth" extends="BaseResultMap">
     <!-- 多对一 -->
     <association property="applier" javaType="com.nongye.p2p.domain.Logininfo" columnPrefix="ap_">
     	<id property="id" column="id"/>
     	<result property="userName" column="username"/>
     </association>
     
     <!-- 多对一 -->
     <association property="auditor" javaType="com.nongye.p2p.domain.Logininfo" columnPrefix="au_">
     	<id property="id" column="id"/>
     	<result property="userName" column="username"/>
     </association>
  </resultMap>
  
  <select id="getByPrimarykey" resultMap="FullResultMap">
  	select id, realName, sex, birthDate,idNumber, address, state, image1, image2, remark,
		auditTime, applyTime,applier_id as ap_id,auditor_id as au_id
   	from realauth
    where id=#{id}
  </select>
  <!-- 添加 -->
  <insert id="insert" >
    <selectKey keyProperty="id" order="AFTER" resultType="int">
       select   LAST_INSERT_ID()
     </selectKey>
     insert into `realauth` (realName, sex, birthDate, idNumber, address, state, 
      image1, image2, remark,auditTime, applyTime, auditor_id,applier_id)
    values (#{realName,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{bornDate,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, 
      #{image1,jdbcType=VARCHAR}, #{image2,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, 
      #{applier.id,jdbcType=BIGINT})
  </insert>
	<!-- 查询条件 -->
	<sql id="base_where">
		<where>
        <if test="beginDate!=null">
          and r.auditTime &gt;=#{beginDate}
        </if>
        <if test="endDate!=null">
          and r.applyTime &lt;=#{endDate}
        </if>
        <if test="state!=-1">
          and r.state=#{state}
        </if>
        </where>
	</sql>
	<!-- 查询字段 -->
	<sql id="full_column">
		r.id, r.realName, r.sex, r.birthDate,r.idNumber, r.address, r.state, r.image1, r.image2, r.remark,
		r.auditTime, r.applyTime,ap.id as ap_id,ap.username as ap_username,au.id as au_id,au.username as au_username
	</sql>
	<!-- 查询目录 -->
	<select id="getAllRealauth" resultMap="FullResultMap">
		select <include refid="full_column"/>
		from realauth r JOIN logininfo ap ON r.applier_id=ap.id LEFT JOIN logininfo au ON r.auditor_id = au.id
		<include refid="base_where" />
	</select>
	<!-- 查询记录数 -->
	<select id="count" resultType="int">
		select count(id)
		from realauth r
		<include refid="base_where" />
		LIMIT #{start},#{pageSize}
	</select>
	
	
	<update id="updateByPrimaryKey">
	    update `realauth`
	    set sex = #{sex,jdbcType=TINYINT},
	      birthDate = #{bornDate,jdbcType=VARCHAR},
	      address = #{address,jdbcType=VARCHAR},
	      state = #{state,jdbcType=TINYINT},
	      image1 = #{image1,jdbcType=VARCHAR},
	      image2 = #{image2,jdbcType=VARCHAR},
	      remark = #{remark,jdbcType=VARCHAR},
	      auditTime = #{auditTime,jdbcType=TIMESTAMP},
	      applyTime = #{applyTime,jdbcType=TIMESTAMP},
	      auditor_id = #{auditor.id,jdbcType=BIGINT},
	      applier_id = #{applier.id,jdbcType=BIGINT}
	    where id = #{id,jdbcType=BIGINT}
  	</update>
		
	<select id="selectApp" resultMap="FullResultMap">
	select id, realName, sex, birthDate,idNumber, address, state, image1, image2, remark,
		auditTime, applyTime,applier_id as ap_id,auditor_id as au_id
   	from realauth
   	where applier_id=#{id}
	</select>
</mapper>